[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
alembic = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-dotenv = "*"
psycopg2 = "*"
requests = "*"
python-dotenv = "*"
gunicorn = "*"
pytest = "*"
flask-wtf = "*"
boto3 = "*"
sentry-sdk = {extras = ["flask"],version = "==1.14.0"}
flask-sslify = "*"
ijson = "*"
geoalchemy2 = "*"
flask-optimize = "*"
jinja2 = ">2.10"
urllib3 = ">=1.24.2"
authlib = "*"
six = "*"

[requires]
python_version = "3.7"
