.lps-table-view {
  //display: table;

  dd {
    margin: 0;
  }
}


.lps-table-view__row {
  //display: table-row;
  border-bottom: 1px solid govuk-colour("grey-2");

  dt,
  dd {
    //display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .local-plan-id {
    display: inline-block;
    min-width: govuk-em(100, 19);
    margin-right: 15px;
  }

  .plan-details__item {
    display: inline-block;
  }

  .stage-tag {
    box-sizing: border-box;
    width: govuk-em(130, 19);
    margin-right: 5px;
    padding-bottom: 1px;
    border: 0;
    color: $govuk-body-background-colour;
    background: govuk-colour("grey-1");
    text-align: center;

    &.is-adopted {
      background: govuk-colour("blue");
    }
  }

  .plan-no-of-docs {
    @include govuk-font(16, $line-height: 25px);
    padding-top: 3px;
    float: right;
  }
}

.lps-table-view__heading {
  margin: 0;
  color: $govuk-text-colour !important;
}

.lps-table-view__list {
  margin-bottom: 0;

  li:last-child {
    margin-bottom: 0;
  }
}

