.lps-table-view {
  //display: table;

  dd {
    margin: 0;
  }
}


.lps-table-view__row {
  //display: table-row;
  border-bottom: 1px solid govuk-colour("grey-2");

  dt,
  dd {
    //display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .local-plan-id {
    display: inline-block;
    min-width: govuk-em(100, 19);
    margin-right: 15px;

    @include govuk-media-query($from: 1000px) {
      margin-left: 10px;
    }
  }

  .plan-details__item {
    display: inline-block;
  }

  .stage-tag {
    box-sizing: border-box;
    width: govuk-em(130, 19);
    margin-right: 5px;
    padding-bottom: 1px;
    border: 0;
    color: $govuk-body-background-colour;
    background: govuk-colour("grey-1");
    text-align: center;

    &.is-adopted {
      background: govuk-colour("blue");
    }
  }

  .plan-details__state-date {
    box-sizing: border-box;
    width: govuk-em(90, 19);
    padding-left: 5px;
  }

  .plan-no-of-docs {
    @include govuk-font(16, $line-height: 25px);
    margin-left: 5px;

    @include govuk-media-query($from: 850px) {
      margin-left: 0;
      padding-top: 2px;
    }
  }
}

.plan-details__missing-data {
  display: block;
  @include govuk-font(16);
  margin-top: 2px;
  padding-top: 2px;
  padding-left: 8px;
  border-left: 5px solid govuk-colour("red");
  color: govuk-colour("red");
}

.lps-table-view__heading {
  margin: 0;
  color: $govuk-text-colour !important;
}

.lps-table-view__list {
  margin-bottom: 0;

  li:first-child {
    margin-bottom: 10px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.hidden-by-filter {
  display: none;
}

