{% extends "dlf-base.html" %}
{%- set mainClasses = "govuk-main-wrapper--l" -%}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/stylesheets/vendor/govuk-accessible-autocomplete.min.css" />
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Local plan prototypes</h1>
      <p class="govuk-body-l">Links to all the local plan prototypes and experiments. More information on the project can be found on the <a href="https://digital-land.github.io/project/local-plans/">local plans project page</a>.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Viewing and collecting data</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="{{ url_for('frontend.list_all') }}">All local plans by planning authority</a></li>
{#        <li><a href="{{ url_for('frontend.start_collecting_data') }}">Start collecting local plan data</a></li>#}
        <li><a href="{{ url_for('frontend.planning_authority_list') }}">View plain list of planning authorities</a></li>
{#        <li><a href="{{ url_for('frontend.data_as_csv') }}">Data collected as csv</a></li>#}
        <li><a href="{{ url_for('frontend.data_as_json') }}">Data collected as json</a></li>
        <li><a href="{{ url_for('frontend.lucky_dip') }}">Data collection lucky dip</a></li>
        <li><a href="{{ url_for('frontend.map_of_data') }}">Map of data collected</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
{% endblock %}


