{% extends "dlf-base.html" %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
     {
       "text": "Planning Authority",
       "href": url_for("frontend.index")
     },
     {
       "text": planning_authority.name
     }
   ]
 }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% for group in grouped_plans %}
            <ul>
                {% for plan in group %}
                    <li>{{ plan }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

  </div>
{% endblock %}