{% extends "dlf-base.html" %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
     {
       "text": "Planning Authority",
       "href": url_for("frontend.index")
     },
     {
       "text": planning_authority.name
     }
   ]
 }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% for group in grouped_plans %}
            <ul>
                {% for plan in group %}
                    <li>{{ plan }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <span class="govuk-caption-l">Local plan data</span>
  <h1 class="govuk-heading-l">{{ planning_authority.name }}</h1>

  <h3 class="govuk-heading-m">Local plans with PIMS</h3>

  <div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day">
          ARUJAN2005
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-week">
          ARUOCT2016
        </a>
      </li>
    </ul>

    <section class="govuk-tabs__panel" id="past-day">
      <h2 class="govuk-heading-l">ARUJAN2005</h2>

      <div class="pims-stages">

        <div class="current-stage">
          <span class="stage-tag">Adopted</span>
          <span class="stage-date">Oct 2018</span>
        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             PIMS Timeline
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell" scope="row">Published</th>
                  <td class="govuk-table__cell">Apr 2017</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell" scope="row">Submitted</th>
                  <td class="govuk-table__cell">Jun 2017</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell" scope="row">Validated</th>
                  <td class="govuk-table__cell">Dec 2017</td>
                </tr>
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell" scope="row">Adopted</th>
                  <td class="govuk-table__cell">Oct 2018</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>

      </div>

      <section class="lp-section-box lp-section-box__urls">
        <h3 class="govuk-heading-m">Local plan URLs</h3>
        <ul class="url-list">
          <li class="url-item">
            <a class="url-link" href="https://www.barnsley.gov.uk/services/planning-and-buildings/local-planning-and-development/our-new-local-plan/barnsleys-local-plan/">https://www.barnsley.gov.uk/services/planning-and-buildings/local-planning-and-development/our-new-local-plan/barnsleys-local-plan/</a>
            <div class="url-item__controls">
              <a href="" class="url-item__btn url-edit-btn">Edit</a>
              <a href="" class="url-item__btn">Remove</a>
            </div>
          </li>
          <li class="url-item">
            <a class="url-link" href="https://www.blackpool.gov.uk/Residents/Planning-environment-and-community/Planning/Planning-policy/Blackpool-local-plan/Core-strategy.aspx">https://www.blackpool.gov.uk/Residents/Planning-environment-and-community/Planning/Planning-policy/Blackpool-local-plan/Core-strategy.aspx</a>
            <div class="url-item__controls">
              <a href="" class="url-item__btn url-edit-btn">Edit</a>
              <a href="" class="url-item__btn">Remove</a>
            </div>
          </li>
        </ul>

        <form action="" class="govuk-form url-edit-form">
          <div class="govuk-form-group">
            <label class="govuk-label label-add" for="url-input">
              Add URL to a local plan document
            </label>
            <label class="govuk-label label-edit" for="url-input">
              Edit URL to a local plan document
            </label>
            <input class="govuk-input" id="url-input" name="url-input" type="text">
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button">Save</button>
          </div>
        </form>

        <button class="govuk-button dlf-secondary-button url-add-btn">Add URL</button>
      </section>

      <section class="lp-section-box lp-section-box__notes">
        <h3 class="govuk-heading-m">Notes</h3>
        <p class="govuk-body note-contents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cum possimus nihil a delectus officiis, ipsam maiores aspernatur temporibus consectetur, sequi qui numquam distinctio odit! Labore sequi ex ipsum dolore!</p>
        <div class="edit">
          <button class="govuk-button dlf-secondary-button note-edit-btn">Edit<span class="govuk-visually-hidden">notes</span></button>
        </div>
        <form action="" class="govuk-form note-edit-form">
          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">
              Provide some information about the Local Plan
            </label>
            <span id="more-detail-hint" class="govuk-hint">
              Do this and this.....
            </span>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button">Save</button>
          </div>
        </form>
      </section>

      <section class="lp-section-box lp-section-box__number">
        <h3 class="govuk-heading-m">Number of houses</h3>
        <p class="number-contents"></p>
        <form action="" class="govuk-form number-edit-form">
          <div class="govuk-form-group">
            <label class="govuk-label" for="number-input">
              Homes to be built
            </label>
            <input class="govuk-input govuk-input--width-10" id="number-input" name="number-input" type="text">
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button">Save</button>
          </div>
        </form>
        
        <button class="govuk-button dlf-secondary-button number-edit-btn">Add number</button>
      </section>

    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
      <h2 class="govuk-heading-l">ARUOCT2016</h2>
      

    </section>

  </div>
{% endblock %}

{% block bodyEnd %}
<script>
  const noteEditBtn = document.querySelector(".note-edit-btn");
  const numberEditBtn = document.querySelector(".number-edit-btn");
  const urlAddBtn = document.querySelector(".url-add-btn");
  const urlEditBtns = document.querySelectorAll(".url-edit-btn");

  noteEditBtn.addEventListener('click', (e) => {
    const noteSection = getNearestSection(e.currentTarget);
    noteSection.classList.add("editing");
    const note = noteSection.querySelector('.note-contents').textContent;
    if(note !== "") {
      noteSection.querySelector('textarea').value = note;
    }
    console.log(note);
  });

  numberEditBtn.addEventListener('click', (e) => {
    const numberSection = getNearestSection(e.currentTarget);
    numberSection.classList.add("editing");
    const number = numberSection.querySelector('.number-contents').textContent;
    if(number !== "") {
      numberSection.querySelector('input[type=text]').value = number;
    } else {
      console.log("No number set");
    }
  });

  function getNearestSection(el) {
    return el.closest(".lp-section-box");
  }

  function switchClasses(el, toAdd, toRemove) {
    el.classList.remove(toRemove);
    el.classList.add(toAdd);
  }

  urlAddBtn.addEventListener('click', (e) => {
    const current = e.currentTarget;
    const urlSection = getNearestSection(e.currentTarget);
    urlSection.classList.add('editing');
    urlSection.querySelector('.url-edit-form input[type=text]').value = "";
    const form = urlSection.querySelector('.url-edit-form');
    switchClasses(form, "adding", "editing");
  });

  urlEditBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const urlSection = getNearestSection(e.currentTarget);
      const currentUrl = e.currentTarget.closest('.url-item').querySelector(".url-link").textContent;
      urlSection.classList.add('editing');
      urlSection.querySelector('.url-edit-form input[type=text]').value = currentUrl;
      const form = urlSection.querySelector('.url-edit-form');
      switchClasses(form, "editing", "adding");
    });
  });
</script>
{% endblock %}
