{% extends "dlf-base.html" %}
{% from "govuk-jinja-components/warning-text/macro.jinja" import govukWarningText %}
{% from "dl-macros/date-input.html" import renderDateInput %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
    {
       "text": "Home",
       "href": url_for("frontend.index")
     },
     {
       "text": "Planning Authority",
       "href": url_for("frontend.list_all")
     },
     {
       "text": planning_authority.name
     }
   ]
 }) }}

{% endblock %}

{% block content %}

  <span class="govuk-caption-xl">Local plan data</span>
  <h1 class="govuk-heading-xl">{{ planning_authority.name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Local development scheme</h2>
      <p class="govuk-body">
        Each planning authority is expected to publish a local development scheme. For {{ planning_authority.name }} you should be able to view it at:
      </p>
    </div>
  </div>
  
  {% if planning_authority.local_scheme_url %}

      <!--
      TODO we need to be able to add documents to this as well. in the same was as we add docs to plans
      except these are stored against local authority but in table emerging_plan_documents
      -->

      <p class="govuk-body">
        <a id="policy-url" class="govuk-link" href="{{ planning_authority.local_scheme_url }}">{{ planning_authority.local_scheme_url }}</a>
      </p>
      <p class="request-for-update govuk-!-margin-bottom-8">Not correct? <a href="{{ url_for('frontend.update_local_scheme_url', planning_authority=planning_authority.id) }}" class="govuk-link">Update the url</a>.</p>

      <h3 class="govuk-heading-m">Local scheme documents</h3>
        <ul class="url-list">
          {% if planning_authority.emerging_plan_documents|length > 0 %}
            {% for doc in planning_authority.emerging_plan_documents %}
            <li class="url-item govuk-grid-row">
              <section class="document-link govuk-grid-column-full">
                <a class="url-link" href="{{ doc.url }}">{{ doc.url }}</a>
                <div class="url-item__controls">
                  <a href="" class="url-item__btn url-edit-btn govuk-visually-hidden">Edit</a>
                  <a href="#" class="url-item__btn url-remove-btn">Remove</a>
                </div>
              </section>

              <section class="document-facts govuk-grid-column-two-thirds">

                <!-- TODO need some facts for emerging plan docs -->
                {% if doc.facts|length > 0 %}
                    <table class="govuk-table document-facts__table">
                      <caption class="govuk-table__caption">Facts from document</caption>
                      <tbody class="govuk-table__body">

                      {% for fact in doc.facts %}
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">{{ fact.fact_type | format_fact }}</th>
                            <th class="govuk-table__header" scope="row">{{ fact.fact }}</th>
                            <td class="govuk-table__cell">{{ fact.notes }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a class="remove-fact" href="{{ url_for('frontend.remove_fact_from_document', document=doc.id, fact=fact.id) }}">remove<span class="govuk-visually-hidden"> this fact</span></a></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                {% endif %}

                <details class="govuk-details govuk-details--facts">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text document-facts__add">
                      Add fact from document
                    </span>
                  </summary>

                  <form action="{{ url_for('frontend.add_fact_to_document', planning_authority=planning_authority.id, document=doc.id) }}" class="govuk-form add-fact-form govuk-details__text">

                      <input type="hidden" id="document-type" value="emerging_plan_document">

                      <h4 class="govuk-heading-s govuk-visually-hidden">Add fact from document</h4>

                      <div class="govuk-form-group">
                       <label class="govuk-label" for="document-note-{{loop.index}}">
                           Specify the type of fact
                       </label>
                        <select class="govuk-select fact-select-types" id="fact-type-{{loop.index}}" name="fact-type-{{loop.index}}">
                          {% for fact_type in emerging_fact_types %}
                             <option value="{{ fact_type.name }}">{{ fact_type.value }}</option>
                          {% endfor %}
                      </select>
                    </div>

                    <!-- TODO depending on type of fact chosen render input for fact
                     e.g. if date field input for date in format YYYY-MM - or submits that at least which I think input type month does?
                     if total housing number just integer of range then two inputs 'from' integer to 'integer'

                     and a big old bucket of 'I have no idea' called other, which is where I suspect most info will
                     end up.
                     -->

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="document-note-{{loop.index}}">
                        Provide some information about the number
                      </label>
                      <textarea class="govuk-textarea" id="document-note-{{loop.index}}" name="document-note-{{loop.index}}" rows="5"></textarea>
                    </div>
                    <div class="govuk-form-group">
                      <button class="govuk-button fact-save-btn">Save</button>
                      <button class="cancel-btn">Cancel</button>
                    </div>
                  </form>
                </details>

              </section>
            </li>
            {% endfor %}
          {% endif %}
        </ul>

  {% else %}
      <a class="highlight-box highlight-box--gap highlight-box--flush" href="{{ url_for('frontend.update_local_scheme_url', planning_authority=planning_authority.id) }}">
        <h3 class="govuk-heading-s highlight-box__title">URL unavailable</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">We do not have a link to the local development scheme. Can you add one?</p>
      </a>
  {% endif %}

  <h2 class="govuk-heading-l">Local plans</h2>

  <div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    <ul class="govuk-tabs__list">
      {% for plan in planning_authority.local_plans|sort_plans %}
      <li class="govuk-tabs__list-item {% if plan.is_adopted() %}adopted-plan{% endif %}">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#{{ plan.local_plan }}">
          {{ plan.local_plan }}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% for plan in planning_authority.local_plans|sort_plans %}
    <section class="govuk-tabs__panel {% if plan.is_adopted() %}adopted-plan{% endif %}" id="{{ plan.local_plan }}">
      <h2 class="govuk-heading-l">{{ plan.local_plan }}</h2>

       {% if plan.url %}
          <h3 class="govuk-heading-m">Local plan URL</h3>
          <p class="govuk-body">
            <a id="policy-url" class="govuk-link" href="{{ plan.url }}">{{ plan.url }}</a>
          </p>
          <p class="request-for-update govuk-!-margin-bottom-8">Not correct? <a href="{{ url_for('frontend.update_local_plan_url', planning_authority=planning_authority.id, local_plan=plan.local_plan) }}" class="govuk-link">Update the url</a>.</p>
          {% else %}
          <a class="highlight-box highlight-box--gap highlight-box--flush" href="{{ url_for('frontend.update_local_plan_url', planning_authority=planning_authority.id, local_plan=plan.local_plan) }}">
            <h3 class="govuk-heading-s highlight-box__title">URL unavailable</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">We do not have a link to the local plan. Can you add one?</p>
          </a>
       {% endif %}

      <div class="pims-stages">

        {% set lastState = plan.ordered_states()|last %}
        <div class="current-stage">
          <span class="stage-tag">{{ lastState.state }}</span>
          <span class="stage-date">{{ lastState.date | format_month_and_year }}</span>
        </div>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
             PINS Timeline
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                {% for state in plan.ordered_states() %}
                <tr class="govuk-table__row">
                  <th class="govuk-table__cell" scope="row">{{ state.state }}</th>
                  <td class="govuk-table__cell">{{ state.date | format_month_and_year }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </details>

      </div>

      
        <h3 class="govuk-heading-m">Local plan documents</h3>
        <ul class="url-list">
          {% if plan.plan_documents|length > 0 %}
            {% for doc in plan.plan_documents %}
            <li class="url-item govuk-grid-row">
              <section class="document-link govuk-grid-column-full">
                <a class="url-link" href="{{ doc.url }}">{{ doc.url }}</a>
                <div class="url-item__controls">
                  <a href="" class="url-item__btn url-edit-btn govuk-visually-hidden">Edit</a>
                  <a href="{{ url_for('frontend.remove_document_from_plan', document=doc.id, local_plan=plan.local_plan) }}" class="url-item__btn url-remove-btn">Remove</a>
                </div>
              </section>

              <section class="document-facts govuk-grid-column-two-thirds">

                <table class="govuk-table document-facts__table">
                  {% if doc.facts|length > 0 %}<caption class="govuk-table__caption">Facts from document</caption>{% endif %}
                  <tbody class="govuk-table__body">
                      {% for fact in doc.facts %}
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">{{ fact.fact_type | format_fact }}</th>
                            <th class="govuk-table__header" scope="row">{{ fact.fact }}</th>
                            <td class="govuk-table__cell">{{ fact.notes }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a class="remove-fact" href="{{ url_for('frontend.remove_fact_from_document', document=doc.id, fact=fact.id) }}">remove<span class="govuk-visually-hidden"> this fact</span></a></td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>

                <details class="govuk-details govuk-details--facts">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text document-facts__add">
                      Add fact from document
                    </span>
                  </summary>

                  <form action="{{ url_for('frontend.add_fact_to_document', planning_authority=planning_authority.id, local_plan=plan.local_plan, document=doc.id) }}" class="govuk-form add-fact-form govuk-details__text plan-name">
                    <input type="hidden" value="plan_document">
                    <h4 class="govuk-heading-s govuk-visually-hidden">Add fact from document</h4>

                    <div class="govuk-form-group">
                       <label class="govuk-label" for="document-note-{{loop.index}}">
                           Specify the type of fact
                       </label>
                        <select class="govuk-select fact-select-types" id="fact-type-{{loop.index}}" name="fact-type-{{loop.index}}">
                          {% for fact_type in fact_types %}
                             <option value="{{ fact_type.name }}" data-type-class="{{ fact_type.name|lower|replace('_', '-') }}">{{ fact_type.value }}</option>
                          {% endfor %}
                      </select>
                    </div>

                     <!-- TODO depending on type of fact chosen render input for fact
                     e.g. if plan name just an text input note we know some of the names already,
                     if plan start or end date chose render input for date in format YYYY-MM - or submits that at least which I think input type month does?
                     if total housing number just integer of range then two inputs 'from' integer to 'integer'
                     -->

                    <!-- for Plan Name -->
                    <div class="govuk-form-group plan-name-input">
                      <label class="govuk-label" for="plan-name-{{ loop.index }}">
                        Plan name
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="plan-name-{{ loop.index }}" name="plan-name-{{ loop.index }}" type="text">
                    </div>

                    <!-- for Plan start date -->
                    {{ renderDateInput({
                      "text":"Plan period start date",
                      "classes":"plan-start-date-input",
                      "prefix":"plan-start-date-" + loop.index|string
                    }) }}

                    <!-- for Plan end date -->
                    {{ renderDateInput({
                      "text":"Plan period end date",
                      "classes":"plan-end-date-input",
                      "prefix":"plan-end-date-" + loop.index|string
                    }) }}

                    <!-- for Housing requirement total -->
                    <div class="govuk-form-group plan-housing-req-total">
                      <label class="govuk-label" for="housing-req-total-{{ loop.index }}">
                        Housing requirement total
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="housing-req-total-{{ loop.index }}" name="housing-req-total-{{ loop.index }}" type="text">
                    </div>

                    <!-- for Housing requirement range -->
                    <fieldset class="govuk-fieldset housing-req-range-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                          Housing requirement range
                        </h1>
                      </legend>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="housing-req-range-min-{{ loop.index }}">
                          Min
                        </label>
                        <input class="govuk-input govuk-input--width-10 housing-req-range-min" id="housing-req-range-min-{{ loop.index }}" name="housing-req-range-min-{{ loop.index }}" type="text">
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="housing-req-range-max-{{ loop.index }}">
                          Max
                        </label>
                        <input class="govuk-input govuk-input--width-10 housing-req-range-max" id="housing-req-range-max-{{ loop.index }}" name="housing-req-range-max-{{ loop.index }}" type="text">
                      </div>
                    </fieldset>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="document-note-{{loop.index}}">
                        Provide any additional information about the fact
                      </label>
                      <textarea class="govuk-textarea" id="document-note-{{loop.index}}" name="document-note-{{loop.index}}" rows="5"></textarea>
                    </div>
                    <div class="govuk-form-group">
                      <button class="govuk-button fact-save-btn">Save</button>
                      <button class="cancel-btn">Cancel</button>
                    </div>
                  </form>
                </details>
                
              </section>
            </li>
            {% endfor %}
          {% endif %}
        </ul>

        <form action="{{ url_for('frontend.add_document_to_plan', planning_authority=planning_authority.id, local_plan=plan.local_plan, document_type='plan_document' )}}" class="govuk-form url-edit-form">
          <div class="govuk-form-group">
            <label class="govuk-label label-add" for="url-input">
              Add URL to a local plan document
            </label>
            <label class="govuk-label label-edit" for="url-input">
              Edit URL to a local plan document
            </label>
            <input class="govuk-input" id="url-input" name="url-input" type="text">
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button url-save-btn">Save</button>
            <button class="cancel-btn">Cancel</button>
          </div>
        </form>

        <button class="govuk-button dlf-secondary-button url-add-btn lp-section-box__edit-btn">Add URL</button>
      

      <!--<section class="lp-section-box lp-section-box__notes">
        <h3 class="govuk-heading-m">Notes</h3>
        {% if plan.notes == None %}
        <p class="govuk-body note-contents"></p>
        <p class="govuk-body secondary-text">-- no notes captured --</p>
        {% else %}
        <p class="govuk-body note-contents">{{ plan.notes }}</p>
        {% endif %}
        <button class="govuk-button dlf-secondary-button note-edit-btn lp-section-box__edit-btn">Edit<span class="govuk-visually-hidden">notes</span></button>
        <form action="{{ url_for('frontend.add_document_to_plan', planning_authority=planning_authority.id, local_plan=plan.local_plan )}}" class="govuk-form note-edit-form">
          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">
              Provide some information about the local plan
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button notes-save-btn">Save</button>
            <button class="cancel-btn">Cancel</button>
          </div>
        </form>
      </section>

      <section class="lp-section-box lp-section-box__number">
        <h3 class="govuk-heading-m">Number of housing units</h3>
        {% if plan.number_of_houses == None %}
        <p class="govuk-body number-contents"></p>
        <p class="govuk-body secondary-text">-- no number captured --</p>
        {% else %}
        <p class="govuk-body number-contents">{{ plan.number_of_houses }}</p>
        {% endif %}
        <p class="number-contents"></p>
        <form action="{{ url_for('frontend.add_document_to_plan', planning_authority=planning_authority.id, local_plan=plan.local_plan )}}" class="govuk-form number-edit-form">
          <div class="govuk-form-group">
            <label class="govuk-label" for="number-input">
              Homes to be built
            </label>
            <input class="govuk-input govuk-input--width-10" id="number-input" name="number-input" type="text">
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button number-save-btn">Save</button>
            <button class="cancel-btn">Cancel</button>
          </div>
        </form>
        
        <button class="govuk-button dlf-secondary-button number-edit-btn lp-section-box__edit-btn">Add number</button>
      </section>-->

    </section>
    {% endfor %}

  </div>
{% endblock %}

{% block bodyEnd %}
<script src="/static/javascripts/vendor/handlebars-v4.1.0.js"></script>
{% raw %}
<script id="url-item-template" type="text/x-handlebars-template">
    <a class="url-link" href="{{ url }}">{{ url }}</a>
    <div class="url-item__controls">
      <a href="" class="url-item__btn url-edit-btn govuk-visually-hidden">Edit</a>
      <a href="{{ remove_url }}" class="url-item__btn url-remove-btn">Remove</a>
    </div>
</script>
<script id="fact-row-template" type="text/x-handlebars-template">
  <th class="govuk-table__header" scope="row">{{ fact.number }}</th>
  <td class="govuk-table__cell">{{ fact.notes }}</td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="remove-fact" href="{{ remove_url }}">remove<span class="govuk-visually-hidden"> this fact</span></a></td>
</script>
{% endraw %}
<script>
  const noteEditBtns = document.querySelectorAll(".note-edit-btn");
  const noteSaveBtns = document.querySelectorAll(".notes-save-btn");
  const numberEditBtns = document.querySelectorAll(".number-edit-btn");
  const numberSaveBtns = document.querySelectorAll(".number-save-btn");
  const urlAddBtns = document.querySelectorAll(".url-add-btn");
  const urlEditBtns = document.querySelectorAll(".url-edit-btn");
  const urlSaveBtns = document.querySelectorAll(".url-save-btn");
  const urlRemoveBtns = document.querySelectorAll(".url-remove-btn");
  const cancelBtns = document.querySelectorAll(".cancel-btn");

  const factSaveBtns = document.querySelectorAll(".fact-save-btn");
  const factCancelBtns = document.querySelectorAll(".add-fact-form .cancel-btn");
  const factRemoveBtns = document.querySelectorAll(".remove-fact");

  var source   = document.getElementById("url-item-template").innerHTML;
  var urlTemplate = Handlebars.compile(source);

  var factTemplateSource = document.getElementById("fact-row-template").innerHTML;
  var factTemplate = Handlebars.compile(factTemplateSource);

  // handle changes to form when user changes select
  const addFactForms = document.querySelectorAll(".add-fact-form");
  const addFactSelects = Array.prototype.slice.call( addFactForms ).map((form) => form.querySelector(".fact-select-types"));
  addFactSelects.forEach((select) => {
    select.addEventListener('change', (e) => {
      const form = e.target.closest('form');
      const option = e.target.querySelector('option:checked');
      // remove all these classes before adding selected class
      form.classList.remove("plan-name", "plan-start-year", "plan-end-year", "housing-requirement-total", "housing-requirement-range");
      form.classList.add(option.dataset.typeClass);
    });
  });
  
  const htmlStringToElement = (function () {
    const parser = new DOMParser();
    return function(htmlStr) {
      const generatedDoc = parser.parseFromString(htmlStr, "text/xml");
      return generatedDoc.childNodes[0];
    }
    //console.log("this runs straight away");
  })();

  noteEditBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const noteSection = getNearestSection(e.currentTarget);
      noteSection.classList.add("editing");
      const note = noteSection.querySelector('.note-contents').textContent;
      if(note !== "") {
        noteSection.querySelector('textarea').value = note;
      }
    });
  });

  numberEditBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const numberSection = getNearestSection(e.currentTarget);
      numberSection.classList.add("editing");
      const number = numberSection.querySelector('.number-contents').textContent;
      if(number !== "") {
        numberSection.querySelector('input[type=text]').value = number;
      } else {
        console.log("No number set");
      }
    });
  });

  function getNearestSection(el) {
    return el.closest(".lp-section-box");
  }

  function switchClasses(el, toAdd, toRemove) {
    el.classList.remove(toRemove);
    el.classList.add(toAdd);
  }

  function postDataFieldSaveEvent(btn, dataKey, inputSelector, callback) {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const form = e.currentTarget.closest("form");
      const url = form.getAttribute("action");
      const section = getNearestSection(e.currentTarget);

      // set up data obj to post
      var data = {};
      data[dataKey] = form.querySelector(inputSelector).value;

      // perform post
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then( (resp_data) => callback(resp_data, section) );
    });
  }

  function extractDate(fieldset) {
    const month = fieldset.querySelector(".govuk-date-input__month");
    const year = fieldset.querySelector(".govuk-date-input__year");
    return `${year.value}-${month.value}`;
  }

  function extractRange(fieldset) {
    var min = fieldset.querySelector(".housing-req-range-min");
    var max = fieldset.querySelector(".housing-req-range-max");
    return `${min.value} - ${max.value}`;
  }

  // save a fact
  // ===========
  factSaveBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const form = e.currentTarget.closest("form");
      const url = form.getAttribute("action");

      // set up data obj to post
      // serialise all parts of form
      var fact = {};
      fact["fact_type"] = form.querySelector("select").value;
      fact["notes"] = form.querySelector("textarea").value;
      fact["document_type"] = form.querySelector("input[type='hidden']").value

"plan-name", "plan-start-year", "plan-end-year", "housing-requirement-total", "housing-requirement-range"

      if(form.classList.contains('plan-name')) {
        fact["fact"] = form.querySelector(".plan-name-input input").value;
      } else if (form.classList.contains('plan-start-year')) {
        fact["fact"] = extractDate( form.querySelector(".plan-start-date-input fieldset") );
      } else if (form.classList.contains('plan-end-year')) {
        fact["fact"] = extractDate( form.querySelector(".plan-end-date-input fieldset") );
      } else if (form.classList.contains('housing-requirement-total')) {
        fact["fact"] = form.querySelector(".plan-housing-req-total input").value;
      } else if (form.classList.contains('housing-requirement-range')) {
        fact["fact"] = extractRange( form.querySelector(".housing-req-range-fieldset") );
      } 
      
      // if serialising
      // fact["plan_name"] = form.querySelector(".plan-name-input input").value;
      // fact["plan_start_date"] = extractDate( form.querySelector(".plan-start-date-input fieldset") );
      // fact["plan_end_date"] = extractDate( form.querySelector(".plan-end-date-input fieldset") );
      // fact["housing_req_total"] = form.querySelector(".plan-housing-req-total input").value;
      // fact["housing_req_range_min"] = form.querySelector(".housing-req-range-fieldset .housing-req-range-min").value;
      // fact["housing_req_range_max"] = form.querySelector(".housing-req-range-fieldset .housing-req-range-max").value;
      
      console.log(fact);

      // perform post
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ 'fact': fact })
      })
      .then(response => response.json())
      .then( (resp_data) => factAddedCallback(resp_data, form) );
    });
  });

  function factAddedCallback(resp_data, form) {
    if(resp_data['OK'] === 200) {
      console.log(factTemplate(resp_data));
      const factsEl = form.closest(".document-facts");
      const table = factsEl.querySelector(".document-facts__table tbody");

      var row = document.createElement("tr");
      row.classList.add('govuk-table__row');
      row.innerHTML = factTemplate(resp_data);
      table.appendChild( row );

      form.reset();
    }
  }

  // close fact form
  // ===============
  factCancelBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const details = btn.closest('.govuk-details');
      //console.log(details);
      details.open = false;
    })
  });

  // remove fact
  // ===========
  factRemoveBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => removeBtnClickHandler(e, '.govuk-table__row'));
  });

  urlAddBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      const current = e.currentTarget;
      const urlSection = getNearestSection(e.currentTarget);
      urlSection.classList.add('editing');
      urlSection.querySelector('.url-edit-form input[type=text]').value = "";
      const form = urlSection.querySelector('.url-edit-form');
      switchClasses(form, "adding", "editing");
    });
  });

  urlEditBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const urlSection = getNearestSection(e.currentTarget);
      const currentUrl = e.currentTarget.closest('.url-item').querySelector(".url-link").textContent;
      urlSection.classList.add('editing');
      urlSection.querySelector('.url-edit-form input[type=text]').value = currentUrl;
      const form = urlSection.querySelector('.url-edit-form');
      switchClasses(form, "editing", "adding");
    });
  });

  function removeBtnClickHandler(e, selector) {
    e.preventDefault();
    const currentTarget = e.currentTarget;
    const url = e.currentTarget.href;
    fetch(url, {
      method: "DELETE"
    })
    .then(response => response.json())
    .then(data => {
      currentTarget.closest(selector).remove();
    });
  }

  urlRemoveBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => removeBtnClickHandler(e, '.url-item'));
  });

  urlSaveBtns.forEach((btn) => {
    postDataFieldSaveEvent(btn, "url", "input[type=text]", (data, section) => {
      const urlList = section.querySelector(".url-list")
      var item = document.createElement("li");
      item.classList.add('url-item');
      item.innerHTML = urlTemplate(data);
      urlList.appendChild( item );
      item.querySelector(".url-remove-btn").addEventListener('click', removeURLBtnClickHandler);
      section.querySelector("form input[type=text]").value = "";
    });
  });

  numberSaveBtns.forEach((btn) => {
    postDataFieldSaveEvent(btn, "housing_units", "input[type=text]", (data, section) => {
      const numberEl = section.querySelector(".number-contents")
      numberEl.textContent = data.housing_units;
      section.classList.remove("editing");
      if(section.querySelector('.secondary-text')) {
        section.querySelector('.secondary-text').remove();
      }
    });
  });

  noteSaveBtns.forEach((btn) => {
    postDataFieldSaveEvent(btn, "notes", "textarea", (data, section) => {
      const notesEl = section.querySelector(".note-contents")
      notesEl.textContent = data.notes;
      section.classList.remove("editing");
      if(section.querySelector('.secondary-text')) {
        section.querySelector('.secondary-text').remove();
      }
    });
  });

  cancelBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const section = getNearestSection(e.currentTarget);
      section.classList.remove('editing');
    });
  })

</script>
{% endblock %}
