{% extends "dlf-base.html" %}
{% from "govuk-jinja-components/warning-text/macro.jinja" import govukWarningText %}
{% from "dl-macros/date-input.html" import renderDateInput %}

{% block beforeContent %}
 {{ super() }}

 {{ govukBreadcrumbs({
   "items": [
    {
       "text": "Home",
       "href": url_for("frontend.index")
     },
     {
       "text": "Planning Authority",
       "href": url_for("frontend.list_all")
     },
     {
       "text": planning_authority.name
     }
   ]
 }) }}

{% endblock %}

{% block content %}

  <span class="govuk-caption-xl">Local plan data</span>
  <h1 class="govuk-heading-xl">{{ planning_authority.name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Local development scheme</h2>
      <p class="govuk-body">
        Each planning authority is expected to publish a local development scheme. For {{ planning_authority.name }} you should be able to view it at:
      </p>
    </div>
  </div>
  
  {% if planning_authority.local_scheme_url %}

      <!--
      TODO we need to be able to add documents to this as well. in the same was as we add docs to plans
      except these are stored against local authority but in table emerging_plan_documents
      -->

      <p class="govuk-body">
        <a id="policy-url" class="govuk-link" href="{{ planning_authority.local_scheme_url }}">{{ planning_authority.local_scheme_url }}</a>
      </p>
      <p class="request-for-update govuk-!-margin-bottom-8">Not correct? <a href="{{ url_for('frontend.update_local_scheme_url', planning_authority=planning_authority.id) }}" class="govuk-link">Update the url</a>.</p>

      <h3 class="govuk-heading-m">Local scheme documents</h3>
        <ul class="url-list" data-url-list-type="lds-url-list">
          {% if planning_authority.other_documents|length > 0 %}
            {% for doc in planning_authority.other_documents %}
            <li class="url-item govuk-grid-row">
              <section class="document-link govuk-grid-column-full">
                {% if doc.title %}
                <span>{{ doc.title }}</span>
                {% else %}
                <span class="no-title-given">no title given</span>
                {% endif %}
                <a class="url-link" href="{{ doc.url }}" target="_blank">{{ doc.url }}</a>
                <div class="url-item__controls">
                  <a href="" class="url-item__btn url-edit-btn govuk-visually-hidden">Edit</a>
                  <a href="{{ url_for('frontend.remove_document_from_planning_authority', document=doc.id, planning_authority=planning_authority.id ) }}" class="url-item__btn url-remove-btn">Remove</a>
                </div>
              </section>

              <section class="document-facts govuk-clearfix">

                <div class="govuk-grid-column-full">
                <!-- TODO need some facts for emerging plan docs -->
                  <table class="govuk-table document-facts__table">
                    {% if doc.facts|length > 0 %}<caption class="govuk-table__caption">Facts from document</caption>{% endif %}
                    <tbody class="govuk-table__body">
                    {% for fact in doc.facts %}
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">{% if fact.from_ and fact.to  %}{{ fact.from_ }} to {{fact.to }}{% else %}{{ fact.fact }}{%  endif %}</th>
                        <td class="govuk-table__cell">{{ fact.fact_type | format_fact }}</td>
                        <td class="govuk-table__cell">{% if fact.notes == "" %}-{% else %}{{ fact.notes }}{% endif %}</td>
                        <td class="govuk-table__cell">{% if fact.image_url %}<a href="{{ fact.image_url }}" target="_blank"><img style="height: 60px" src="{{ fact.image_url }}"></a>{% endif %}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a class="remove-fact" href="{{ url_for('frontend.remove_fact_from_document', document=doc.id, fact=fact.id) }}">remove<span class="govuk-visually-hidden"> this fact</span></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

                <details class="govuk-details govuk-details--facts govuk-details--facts-emerging-plan-doc govuk-grid-column-two-thirds">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text document-facts__add">
                      Add fact from document
                    </span>
                  </summary>

                  {% from "partials/emerging-plan-fact-form.html" import renderEmergingPlanFactForm %}

                  {{ renderEmergingPlanFactForm({
                      "action_url": url_for('frontend.add_fact_to_document', planning_authority=planning_authority.id, document=doc.id),
                      "fact_types": emerging_fact_types,
                      "form_number": loop.index
                    }) }}

                </details>

              </section>
            </li>
            {% endfor %}
          {% endif %}
        </ul>

      <form action="{{ url_for('frontend.add_document_to_plan', planning_authority=planning_authority.id,  document_type='emerging_plan_document' )}}" data-associated-list="lds-url-list" class="govuk-form add-url-form">
        <div class="govuk-form-group">
          <label class="govuk-label label-add" for="url-input">
          Add URL to a local development scheme or emerging plan document
          </label>
          <input class="govuk-input" id="url-input" name="url-input" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="doc-title-input">
            Does the document have a title?
          </label>
          <input class="govuk-input govuk-input--width-20" id="doc-title-input" name="doc-title-input" type="text">
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button dlf-secondary-button url-save-btn">Add URL</button>
        </div>
      </form>

  {% else %}
      <a class="highlight-box highlight-box--gap highlight-box--flush" href="{{ url_for('frontend.update_local_scheme_url', planning_authority=planning_authority.id) }}">
        <h3 class="govuk-heading-s highlight-box__title">URL unavailable</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">We do not have a link to the local development scheme. Can you add one?</p>
      </a>
  {% endif %}

  <h2 class="govuk-heading-l govuk-!-margin-top-9">Local plans</h2>

{#  TODO Colm change this to whatever you think best      #}
  <section>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Add new plan
        </span>
      </summary>
      <form class="govuk-form" method="post" action="{{ url_for('frontend.local_plan', planning_authority=planning_authority.id) }}">
         <div class="govuk-form-group">
          {{ form.start_year.label(class="govuk-label") }}
          <span class="govuk-hint">
              The local authority code and start year will be the plan id e.g. ADU-2022
          </span>
          <span>{{ planning_authority.code() }}-</span>{{ form.start_year(class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4", pattern="[0-9]*") }}
         </div>
          <div class="govuk-form-group">
            <button class="govuk-button dlf-secondary-button">Add plan</button>
          </div>
         {{ form.csrf_token }}
      </form>
    </details>
  </section>

  <div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>

    <ul class="govuk-tabs__list">
      {% for plan in planning_authority.sorted_plans()  %}
      <li class="govuk-tabs__list-item {% if plan.is_adopted() %}adopted-plan{% endif %}">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#{{ plan.local_plan }}">
          {{ plan.local_plan }}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% for plan in planning_authority.sorted_plans() %}
    <section class="govuk-tabs__panel {% if plan.is_adopted() %}adopted-plan{% endif %}" id="{{ plan.local_plan }}">
      <h2 class="govuk-heading-l">{{ plan.local_plan }}</h2>

       {% if plan.url %}
          <h3 class="govuk-heading-m">Planning policy url</h3>
          <p class="govuk-body">
            <a id="policy-url" class="govuk-link" href="{{ plan.url }}" target="_blank">{{ plan.url }}</a>
          </p>
          <p class="request-for-update govuk-!-margin-bottom-8">Not correct? <a href="{{ url_for('frontend.update_local_plan_url', planning_authority=planning_authority.id, local_plan=plan.local_plan) }}" class="govuk-link">Update the url</a>.</p>
          {% else %}
          <a class="highlight-box highlight-box--gap highlight-box--flush" href="{{ url_for('frontend.update_local_plan_url', planning_authority=planning_authority.id, local_plan=plan.local_plan) }}">
            <h3 class="govuk-heading-s highlight-box__title">URL unavailable</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">We do not have a link to the local plan. Can you add one?</p>
          </a>
       {% endif %}

    {% if not plan.is_emerging() %}
        <div class="pims-stages">
            {% set latest_state = plan.latest_state() %}
            <div class="current-stage">
                <span class="stage-tag">{{ latest_state.state }}</span>
                <span class="stage-date">{{ latest_state.date | format_month_and_year }}</span>
            </div>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                 PINS Timeline
                </span>
                </summary>
                <div class="govuk-details__text">
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        {% for state in plan.ordered_states() %}
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell" scope="row">{{ state.state }}</th>
                                <td class="govuk-table__cell">{{ state.date | format_month_and_year }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </details>
        </div>
    {% endif %}

      
        <h3 class="govuk-heading-m">Local plan documents</h3>
        <ul class="url-list" data-url-list-type="{{ plan.local_plan }}-url-list">
          {% if plan.plan_documents|length > 0 %}
            {% for doc in plan.plan_documents %}
            <li class="url-item govuk-grid-row">
              <section class="document-link govuk-grid-column-full">
                {% if doc.title %}
                <span>{{ doc.title }}</span>
                {% endif %}
                <a class="url-link" href="{{ doc.url }}" target="_blank">{{ doc.url }}</a>
                <div class="url-item__controls">
                  <a href="" class="url-item__btn url-edit-btn govuk-visually-hidden">Edit</a>
                  <a href="{{ url_for('frontend.remove_document_from_plan', document=doc.id, local_plan=plan.local_plan) }}" class="url-item__btn url-remove-btn">Remove</a>
                </div>
              </section>

              <section class="document-facts govuk-clearfix">

                <div class="govuk-grid-column-full">
                  <table class="govuk-table document-facts__table">
                    {% if doc.facts|length > 0 %}<caption class="govuk-table__caption">Facts from document</caption>{% endif %}
                    <tbody class="govuk-table__body">
                        {% for fact in doc.facts %}
                            <tr class="govuk-table__row">
                              <th class="govuk-table__header" scope="row">{% if fact.from_ and fact.to  %}{{ fact.from_ }} to {{fact.to }}{% else %}{{ fact.fact }}{%  endif %}</th>
                              <td class="govuk-table__cell">{{ fact.fact_type | format_fact }}</td>
                              <td class="govuk-table__cell">{% if fact.notes == "" %}-{% else %}{{ fact.notes }}{% endif %}</td>
                              <td class="govuk-table__cell">
                                {% if fact.image_url -%}
                                  <a href="{{ fact.image_url }}" target="_blank">
                                    <img style="height: 60px" src="{{ fact.image_url }}">
                                  </a>
                                {% endif -%}</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric"><a class="remove-fact" href="{{ url_for('frontend.remove_fact_from_document', document=doc.id, fact=fact.id) }}">remove<span class="govuk-visually-hidden"> this fact</span></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>

                <details class="govuk-details govuk-details--facts govuk-details--facts-plan-doc govuk-grid-column-two-thirds">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text document-facts__add">
                      Add fact from document
                    </span>
                  </summary>

                  {% from "partials/local-plan-fact-form.html" import renderLocalPlanFactForm %}

                  {{ renderLocalPlanFactForm({
                      "action_url": url_for('frontend.add_fact_to_document', planning_authority=planning_authority.id, local_plan=plan.local_plan, document=doc.id),
                      "fact_types": fact_types,
                      "form_number": loop.index
                    }) }}

                </details>
                
              </section>
            </li>
            {% endfor %}
          {% endif %}
        </ul>

        <form action="{{ url_for('frontend.add_document_to_plan', planning_authority=planning_authority.id, local_plan=plan.local_plan, document_type='plan_document' )}}" data-associated-list="{{ plan.local_plan }}-url-list" class="govuk-form add-url-form">
          <div class="govuk-form-group">
            <label class="govuk-label" for="url-input">
              Add URL to a local plan document
            </label>
            <input class="govuk-input" id="url-input" name="url-input" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="doc-title-input">
              Does the document have a title?
            </label>
            <input class="govuk-input govuk-input--width-20" id="doc-title-input" name="doc-title-input" type="text">
          </div>
          <div class="govuk-form-group">
            <button class="govuk-button dlf-secondary-button url-save-btn">Add URL</button>
          </div>
        </form>

    </section>
    {% endfor %}

  </div>
{% endblock %}

{% block bodyEnd %}
<div class="govuk-visually-hidden emerging-plan-details-template">
  {% include "partials/emerging-plan-details.html" ignore missing %}
</div>

<div class="govuk-visually-hidden local-plan-details-template">
  {% include "partials/local-plan-details.html" ignore missing %}
</div>

<script src="/static/javascripts/vendor/handlebars-v4.1.0.js"></script>
{% raw %}
<script id="url-item-template" type="text/x-handlebars-template">
  <section class="document-link govuk-grid-column-full">
    <span class="document-title"></span>   
    <a class="url-link" href="{{ url }}">{{ url }}</a>
    <div class="url-item__controls">
      <a href="" class="url-item__btn url-edit-btn govuk-visually-hidden">Edit</a>
      <a href="{{ remove_url }}" class="url-item__btn url-remove-btn">Remove</a>
    </div>
  </section>
  <section class="document-facts govuk-clearfix">
    <div class="govuk-grid-column-full">
      <table class="govuk-table document-facts__table">
        <tbody class="govuk-table__body"></tbody>
      </table>
    </div>
  </section>
</script>
<script id="fact-row-template" type="text/x-handlebars-template">
  <th class="govuk-table__header" scope="row">{{ fact.fact }}</th>
  <td class="govuk-table__cell">{{ fact.fact_type_display }}</td>
  <td class="govuk-table__cell">{{#if fact.notes }}{{ fact.notes }}{{else}}-{{/if}}</td>
  <td class="govuk-table__cell"></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="remove-fact" href="{{ remove_url }}">remove<span class="govuk-visually-hidden"> this fact</span></a></td>
</script>
{% endraw %}
<script>
  const urlAddBtns = document.querySelectorAll(".url-add-btn");
  const urlEditBtns = document.querySelectorAll(".url-edit-btn");
  const urlRemoveBtns = document.querySelectorAll(".url-remove-btn");

  const addUrlForms = document.querySelectorAll(".add-url-form");

  const factSaveBtns = document.querySelectorAll(".fact-save-btn");
  const factCancelBtns = document.querySelectorAll(".add-fact-form .cancel-btn");
  const factTables = document.querySelectorAll(".document-facts__table");

  var source   = document.getElementById("url-item-template").innerHTML;
  var urlTemplate = Handlebars.compile(source);

  var factTemplateSource = document.getElementById("fact-row-template").innerHTML;
  var factTemplate = Handlebars.compile(factTemplateSource);

  // handle changes to form when user changes select
  const addFactForms = document.querySelectorAll(".add-fact-form");
  const addFactSelects = Array.prototype.slice.call( addFactForms ).map((form) => form.querySelector(".fact-select-types"));
  addFactSelects.forEach((select) => {
    select.addEventListener('change', (e) => {
      const form = e.target.closest('form');
      const option = e.target.querySelector('option:checked');
      // remove all these classes before adding selected class
      removeAllClassesFromFactForm(form);
      form.classList.add(option.dataset.typeClass);
    });
  });

  const localPlanFactTypeClasses = ["plan-name", "plan-period", "plan-start-year", "plan-end-year", "housing-requirement-total", "housing-requirement-range", "housing-requirement-yearly-average", "housing-requirement-yearly-range"];
  const emergingPlanFactTypeClasses = ["publication-date", "proposed-reg-18-date", "proposed-publication-date", "proposed-submission-date", "proposed-main-modifications-date", "proposed-adoption-date" ];
  // using the spread operator in prototype
  // in prod need to either change or use Babel
  const allFactTypeClasses = [...localPlanFactTypeClasses, ...emergingPlanFactTypeClasses];

  function removeAllClassesFromFactForm(form) {
    form.classList.remove( ...allFactTypeClasses );
  }
  
  const htmlStringToElement = (function () {
    const parser = new DOMParser();
    return function(htmlStr) {
      const generatedDoc = parser.parseFromString(htmlStr, "text/xml");
      return generatedDoc.childNodes[0];
    }
    //console.log("this runs straight away");
  })();

  function getNearestSection(el) {
    return el.closest(".lp-section-box");
  }

  function switchClasses(el, toAdd, toRemove) {
    el.classList.remove(toRemove);
    el.classList.add(toAdd);
  }

  function postDataFieldSaveEvent(btn, dataKey, inputSelector, callback) {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const form = e.currentTarget.closest("form");
      const url = form.getAttribute("action");
      const section = getNearestSection(e.currentTarget);

      // set up data obj to post
      var data = {};
      data[dataKey] = form.querySelector(inputSelector).value;

      // perform post
      fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then( (resp_data) => callback(resp_data, section) );
    });
  }

  function extractDate(fieldset) {
    const month = fieldset.querySelector(".govuk-date-input__month");
    const year = fieldset.querySelector(".govuk-date-input__year");
    if(month) {
      return `${year.value},${month.value}`;
    }
    return `${year.value}`;
  }

  function extractRange(fieldset) {
    var min = fieldset.querySelector("[data-range-type='start']");
    var max = fieldset.querySelector("[data-range-type='end']");
    return `${min.value},${max.value}`;
  }

  // save a fact
  // ===========
  factSaveBtns.forEach((btn) => {
    btn.addEventListener('click', factSubmitHandler);
  });

  function factSubmitHandler(e) {
    e.preventDefault();
    const form = e.target.closest("form");
    const url = form.getAttribute("action");

    // set up data obj to post
    // serialise all parts of form
    var fact = {};
    fact["fact_type"] = form.querySelector("select").value;
    fact["notes"] = form.querySelector("textarea").value;
    fact["document_type"] = form.querySelector("input[type='hidden']").value;

    if(form.classList.contains('plan-name')) {
      fact["fact"] = form.querySelector(".plan-name-input input").value;
    } else if (form.classList.contains('plan-period')) {
      fact["fact"] = extractRange( form.querySelector(".plan-period-fieldset") );
    } else if (form.classList.contains('plan-start-year')) {
      fact["fact"] = extractDate( form.querySelector(".plan-start-date-input fieldset") );
    } else if (form.classList.contains('plan-end-year')) {
      fact["fact"] = extractDate( form.querySelector(".plan-end-date-input fieldset") );
    } else if (form.classList.contains('housing-requirement-total')) {
      fact["fact"] = form.querySelector(".plan-housing-req-total input").value;
    } else if (form.classList.contains('housing-requirement-range')) {
      fact["fact"] = extractRange( form.querySelector(".housing-req-range-fieldset") );
    } else if (form.classList.contains('housing-requirement-yearly-average')) {
      fact["fact"] = form.querySelector(".housing-req-yearly-average-input input").value;
    } else if (form.classList.contains('housing-requirement-yearly-range')) {
      fact["fact"] = extractRange( form.querySelector(".housing-req-yearly-range-fieldset") );
    } else if (form.classList.contains('publication-date')) {
      fact["fact"] = extractDate( form.querySelector(".publication-date-input fieldset") );
    } else if (form.classList.contains('proposed-reg-18-date')) {
      fact["fact"] = extractDate( form.querySelector(".regulation-18-date-input fieldset") );
    } else if (form.classList.contains('proposed-publication-date')) {
      fact["fact"] = extractDate( form.querySelector(".proposed-publication-date-input fieldset") );
    } else if (form.classList.contains('proposed-submission-date')) {
      fact["fact"] = extractDate( form.querySelector(".proposed-submission-date-input fieldset") );
    } else if (form.classList.contains('proposed-main-modifications-date')) {
      fact["fact"] = extractDate( form.querySelector(".proposed-main-modifications-date-input fieldset") );
    } else if (form.classList.contains('proposed-adoption-date')) {
      fact["fact"] = extractDate( form.querySelector(".proposed-adoption-date-input fieldset") );
    } else {
      // situation where user has selected other
      fact["fact"] = "";
    }
    
    // if serialising
    // fact["plan_name"] = form.querySelector(".plan-name-input input").value;
    // fact["plan_start_date"] = extractDate( form.querySelector(".plan-start-date-input fieldset") );
    // fact["plan_end_date"] = extractDate( form.querySelector(".plan-end-date-input fieldset") );
    // fact["housing_req_total"] = form.querySelector(".plan-housing-req-total input").value;
    // fact["housing_req_range_min"] = form.querySelector(".housing-req-range-fieldset .housing-req-range-min").value;
    // fact["housing_req_range_max"] = form.querySelector(".housing-req-range-fieldset .housing-req-range-max").value;
    
    console.log(fact);

    // perform post
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ 'fact': fact })
    })
    .then(response => response.json())
    .then( (resp_data) => factAddedCallback(resp_data, form) );
  }

  function factAddedCallback(resp_data, form) {
    if(resp_data['OK'] === 200) {
      console.log(factTemplate(resp_data));
      const factsEl = form.closest(".document-facts");
      const table = factsEl.querySelector(".document-facts__table tbody");

      var row = document.createElement("tr");
      row.classList.add('govuk-table__row');
      row.innerHTML = factTemplate(resp_data);
      table.appendChild( row );

      resetFactForm(form);
    }
  }

  // resets the form
  // - deletes any added content
  // - sets form to initial display config
  function resetFactForm(form) {
    form.reset();
    const formType = form.querySelector("input[type='hidden']").value;

    // remove all classes
    removeAllClassesFromFactForm(form);
    // add initial class relevant to type of fact
    if(formType === "plan_document") {
      form.classList.add('plan-name');
    } else {
      form.classList.add('publication-date');
    }
  }

  // close fact form
  // ===============
  factCancelBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const form = btn.closest('.govuk-form');
      resetFactForm(form);
      const details = btn.closest('.govuk-details');
      //console.log(details);
      details.open = false;
    })
  });

  // remove fact
  // ===========
  factTables.forEach((table) => {
    table.addEventListener('click', (e) => {
      e.preventDefault();
      if(e.target.classList.contains("remove-fact")) {
        console.log("Delete button clicked");
        removeBtnClickHandler(e, '.govuk-table__row')
      }
    });
  });

  function removeBtnClickHandler(e, selector) {
    e.preventDefault();
    const elementToBeRemoved = e.target.closest(selector);

    const url = e.target.href;
    fetch(url, {
      method: "DELETE"
    })
    .then(response => response.json())
    .then(data => {
      // element needs to have a tranistion in it's css
      // brittle!
      elementToBeRemoved.addEventListener('transitionend', () => elementToBeRemoved.remove());
      elementToBeRemoved.classList.add("being-deleted");
    });
  }

  urlRemoveBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      removeBtnClickHandler(e, '.url-item');
    });
  });

  addUrlForms.forEach((form) => {
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const input = form.querySelector("input[name='url-input']");

      if(input.value === "") {
        alert("The URL field is empty. Please add a URL before saving.")
      } else {
        const urlList = document.querySelector(`[data-url-list-type='${form.dataset.associatedList}']`);
        saveURL(form.action, form, urlList);
      }
      console.log(e);
    });
  });

  function saveURL(endpoint, form, listEl) {
    // set up data obj
    var data = {
      'url': form.querySelector("input[name='url-input']").value,
      'doc_title': form.querySelector("input[name='doc-title-input']").value
    };

    // perform post
    fetch(endpoint, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then( (resp_data) => {
      console.log(resp_data);
      const item = document.createElement("li");
      item.classList.add('url-item', 'govuk-grid-row');
      item.innerHTML = urlTemplate(resp_data);
      const detailsContainer = item.querySelector(".document-facts");
      const detailsEl = cloneAddFactForm(resp_data.document['type'], resp_data.add_fact_url);
      detailsContainer.appendChild( detailsEl );

      // add title to URL template
      if(resp_data.document['title'] !== "") {
        item.querySelector(".document-title").textContent = resp_data.document['title'];
      }

      listEl.appendChild( item );

      // add submit handler
      const formBtn = detailsEl.querySelector('form .fact-save-btn');
      formBtn.addEventListener('click', factSubmitHandler);

      // hook up remove button
      item.querySelector(".url-remove-btn").addEventListener('click', (e) => {
        e.preventDefault();
        removeBtnClickHandler(e, '.url-item')
      });
    });
  }

  function cloneAddFactForm(docType, add_fact_url) {
    let template;
    if(docType === "plan_document") {
      template = document.querySelector(".local-plan-details-template");
    } else {
      template = document.querySelector(".emerging-plan-details-template");
    }
    const detailsElement = template.querySelector('details');
    const clonedFormContainer = detailsElement.cloneNode(true);
    // update the action attribute
    const form = clonedFormContainer.querySelector('form');
    form.action = add_fact_url;

    return clonedFormContainer;
  };

</script>
{% endblock %}
