{% extends "dlf-base.html" %}
{%- set mainClasses = "govuk-main-wrapper--l" -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m">Start collection information for</h1>
        <p class="govuk-body">
            {% for planning_authority in local_plan.planning_authorities %}
                {%  set target = planning_authority.id + '#plan_tab_' + plan_id %}
                 <h2>
                     <a href="/local-plans/{{ target }}">
                         {% if local_plan.is_joint_plan() %}Joint plan - {% endif %}{{ local_plan.title }} - {{ planning_authority.name }}
                    </a>
                 </h2>
                <h3>What's missing</h3>
                <ul>
                    {% if not local_plan.has_plan_period() %}
                        <li>No plan period for this plan</li>
                    {% endif %}
                     {% if not local_plan.has_housing_numbers() %}
                        <li>No housing numbers for this plan</li>
                    {% endif %}
                </ul>
            {% endfor %}
        </p>
     </div>
   </div>
{%  endblock %}
