{% extends "lucky-dip.html" %}

{% block dip %}

    <h1>{{ planning_authority.name }}</h1>

    <h2 class="govuk-heading-m">The local authority has a lds url but no associated documents yet</h2>

    <a href="{{ planning_authority.local_scheme_url }}">{{ planning_authority.local_scheme_url }}</a>

    <form action="{{ url_for('frontend.lucky_dip', planning_authority=planning_authority.id, action='add_lds_doc_url') }}" method="POST">
      {{ render_field(form.url) }}
      <div class="govuk-form-group">
        <button class="govuk-button" type="submit">Save</button>
      </div>
    </form>

{% endblock %}