{% extends "dlf-base.html" %}
{%- set mainClasses = "govuk-main-wrapper--l" -%}

{% macro render_field(field) %}
  <div class="govuk-form-group">
  {{ field.label(class_="govuk-label") }}
  {{ field(class_="govuk-input",**kwargs)|safe }}
  {% for error in field.errors %}
  <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  </div>
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
       {% block dip %}{% endblock %}
    </div>

    <div class="govuk-inset-text govuk-inset-text--info govuk-grid-column-two-thirds govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Can't answer this at the moment?</h3>
      <p class="govuk-body">Try a page <a href="{{ url_for('frontend.lucky_dip') }}">refresh</a> and see what else we need an answer for.</p>
    </div>

  </div>

  
{%  endblock %}
