
<details class="govuk-details govuk-details--facts govuk-grid-column-two-thirds govuk-details--facts-emerging-plan-doc">
<summary class="govuk-details__summary">
	<span class="govuk-details__summary-text document-facts__add">
	  Add fact from document
	</span>
</summary>

<form action="" class="govuk-form govuk-details__text add-fact-form publication-date">

    <input type="hidden" id="document-type" value="emerging_plan_document">

    <h4 class="govuk-heading-m">Add fact from document</h4>

    <div class="govuk-form-group" id="details-content-a8dad8cc-3ac4-4cae-b7d5-4ae22bba20ca" aria-hidden="false">
        <label class="govuk-label" for="document-note-1">Specify the type of fact</label>
        <select class="govuk-select fact-select-types" id="fact-type-1" name="fact-type-1">
            <option value="PUBLICATION_DATE" data-type-class="publication-date">Publication date</option>
            <option value="PROPOSED_REG_18_DATE" data-type-class="proposed-reg-18-date">Proposed Regulation 18 date</option>
            <option value="PROPOSED_PUBLICATION_DATE" data-type-class="proposed-publication-date">Proposed publication date</option>
            <option value="PROPOSED_SUBMISSION_DATE" data-type-class="proposed-submission-date">Proposed submission date</option>
            <option value="PROPOSED_MAIN_MODIFICATIONS_DATE" data-type-class="proposed-main-modifications-date">Proposed main modifications date</option>
            <option value="PROPOSED_ADOPTION_DATE" data-type-class="proposed-adoption-date">Proposed adoption date</option>
            <option value="HOUSING_REQUIREMENT_TOTAL" data-type-class="housing-requirement-total">Housing requirement total</option>
            <option value="HOUSING_REQUIREMENT_RANGE" data-type-class="housing-requirement-range">Housing requirement range</option>
            <option value="OTHER" data-type-class="other">Other</option>
        </select>
    </div>

    <!-- for Publication date -->
    <div class="govuk-form-group publication-date-input">
      <fieldset class="govuk-fieldset" aria-describedby="publication-date-1-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Publication date
          </h1>
        </legend>
        <span id="publication-date-1-hint" class="govuk-hint">
          For example, 12 2007
        </span>
        <div class="govuk-date-input" id="publication-date-1">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="publication-date-1-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__month govuk-date-input__input govuk-input--width-2" id="publication-date-1-month" name="publication-date-1-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="publication-date-1-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4" id="publication-date-1-year" name="publication-date-1-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- for Regulation 18 date -->
    <div class="govuk-form-group regulation-18-date-input">
      <fieldset class="govuk-fieldset" aria-describedby="regulation-18-date-1-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Proposed regulation 18 date
          </h1>
        </legend>
        <span id="regulation-18-date-1-hint" class="govuk-hint">
          For example, 12 2007
        </span>
        <div class="govuk-date-input" id="regulation-18-date-1">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="regulation-18-date-1-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__month govuk-date-input__input govuk-input--width-2" id="regulation-18-date-1-month" name="regulation-18-date-1-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="regulation-18-date-1-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4" id="regulation-18-date-1-year" name="regulation-18-date-1-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- for Proposed publication date -->     
    <div class="govuk-form-group proposed-publication-date-input">
      <fieldset class="govuk-fieldset" aria-describedby="proposed-publication-date-1-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Proposed publication date
          </h1>
        </legend>
        <span id="proposed-publication-date-1-hint" class="govuk-hint">
          For example, 12 2007
        </span>
        <div class="govuk-date-input" id="proposed-publication-date-1">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-publication-date-1-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__month govuk-date-input__input govuk-input--width-2" id="proposed-publication-date-1-month" name="proposed-publication-date-1-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-publication-date-1-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4" id="proposed-publication-date-1-year" name="proposed-publication-date-1-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- for Proposed submission date -->       
    <div class="govuk-form-group proposed-submission-date-input">
      <fieldset class="govuk-fieldset" aria-describedby="proposed-submission-date-1-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Proposed submission date
          </h1>
        </legend>
        <span id="proposed-submission-date-1-hint" class="govuk-hint">
          For example, 12 2007
        </span>
        <div class="govuk-date-input" id="proposed-submission-date-1">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-submission-date-1-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__month govuk-date-input__input govuk-input--width-2" id="proposed-submission-date-1-month" name="proposed-submission-date-1-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-submission-date-1-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4" id="proposed-submission-date-1-year" name="proposed-submission-date-1-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- for Main modifications date --> 
    <div class="govuk-form-group proposed-main-modifications-date-input">
      <fieldset class="govuk-fieldset" aria-describedby="proposed-main-modifications-date-1-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Proposed main modifications date
          </h1>
        </legend>
        <span id="proposed-main-modifications-date-1-hint" class="govuk-hint">
          For example, 12 2007
        </span>
        <div class="govuk-date-input" id="proposed-main-modifications-date-1">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-main-modifications-date-1-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__month govuk-date-input__input govuk-input--width-2" id="proposed-main-modifications-date-1-month" name="proposed-main-modifications-date-1-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-main-modifications-date-1-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4" id="proposed-main-modifications-date-1-year" name="proposed-main-modifications-date-1-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- for Proposed adoption date -->
    <div class="govuk-form-group proposed-adoption-date-input">
      <fieldset class="govuk-fieldset" aria-describedby="proposed-adoption-date-1-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Proposed adoption date
          </h1>
        </legend>
        <span id="proposed-adoption-date-1-hint" class="govuk-hint">
          For example, 12 2007
        </span>
        <div class="govuk-date-input" id="proposed-adoption-date-1">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-adoption-date-1-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__month govuk-date-input__input govuk-input--width-2" id="proposed-adoption-date-1-month" name="proposed-adoption-date-1-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="proposed-adoption-date-1-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__year govuk-date-input__input govuk-input--width-4" id="proposed-adoption-date-1-year" name="proposed-adoption-date-1-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    <!-- for Housing requirement total -->
    <div class="govuk-form-group plan-housing-req-total">
      <label class="govuk-label" for="housing-req-total-1">
        Housing requirement total
      </label>
      <input class="govuk-input govuk-input--width-10" id="housing-req-total-1" name="housing-req-total-1" type="text">
    </div>

    <!-- for Housing requirement range -->
    <fieldset class="govuk-fieldset housing-req-range-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Housing requirement range
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="housing-req-range-min-1">
          Min
        </label>
        <input class="govuk-input govuk-input--width-10 housing-req-range-min" id="housing-req-range-min-1" name="housing-req-range-min-1" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="housing-req-range-max-1">
          Max
        </label>
        <input class="govuk-input govuk-input--width-10 housing-req-range-max" id="housing-req-range-max-1" name="housing-req-range-max-1" type="text">
      </div>
    </fieldset>

    <div class="govuk-form-group">
      <label class="govuk-label" for="document-note-1">
        Provide some information about the fact
      </label>
      <textarea class="govuk-textarea" id="document-note-1" name="document-note-1" rows="5"></textarea>
    </div>
    <div class="govuk-form-group">
      <button class="govuk-button fact-save-btn">Save</button>
      <button class="cancel-btn">Cancel</button>
    </div>
</form>
</details>