{% from "govuk-jinja-components/govuk-form/govuk-label.jinja" import govukLabel %}
{% from "govuk-jinja-components/govuk-form/govuk-input.jinja" import govukTextInput %}

{% macro renderHousingRequirementForm(plan, planning_authority, fact_types, heading, suffix, classes) %}
    <form class="govuk-form{{- ' ' + classes if classes }} 
          {%- if plan.has_housing_numbers() %} {{ plan.housing_numbers.housing_number_type|lower|replace('_', '-') }}{% else %} housing-requirement-total{% endif %}" 
          action="{{ url_for('frontend.update_plan_housing_requirement', planning_authority=planning_authority.id, plan_id=plan.id) }}"
          method="POST" enctype="multipart/form-data">
        <h3 class="govuk-heading-s">{{ heading }}</h3>

        <div class="govuk-form-group">
            <label class="govuk-label" for="housing-requirement-type-{{ suffix }}">
                Select a type of house number
            </label>
            <select class="govuk-select housing-requirement-select-types" id="housing-requirement-type-{{ suffix }}"
                    name="housing-requirement-type-{{ suffix }}">
                {% for housing_requirement in fact_types %}
                    <option value="{{ housing_requirement.name }}"
                            {% if 'range' in housing_requirement.name|lower %}disabled{% endif %}
                            data-type-class="{{ housing_requirement.name|lower|replace('_', '-') }}"
                            {%- if housing_requirement.name == plan.housing_numbers.housing_number_type %} selected{% endif %}>{{ housing_requirement.value }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- for Housing requirement total -->
        <div class="govuk-form-group plan-housing-requirement-total">

          {% if plan.is_joint_plan() %}

          <fieldset class="govuk-fieldset housing-req-fieldset">
            <legend class="govuk-fieldset__legend">
              <span>Housing requirement total</span>
            </legend>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="joint-plan-total" name="joint-plan-total" type="checkbox" value="Total for the whole local plan">
              <label class="govuk-label govuk-checkboxes__label" for="joint-plan-total">
                Total for the whole local plan
              </label>
            </div>
            <div class="govuk-checkboxes__conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="joint-plan-total-number">
                  Number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="joint-plan-la-number" name="joint-plan-la-number" type="text">
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="joint-plan-breakdown" name="joint-plan-breakdown" type="checkbox" value="Total for this local authority">
              <label class="govuk-label govuk-checkboxes__label" for="joint-plan-breakdown">
                Total for this local authority
              </label>
            </div>
            <div class="govuk-checkboxes__conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="joint-plan-la-number">
                  Number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="joint-plan-la-number" name="joint-plan-la-number" type="text">
              </div>
            </div>
          </fieldset>

          {% else %}

            {%- if plan.housing_numbers.housing_number_type == "HOUSING_REQUIREMENT_TOTAL" %}
              {% set housing_value = plan.housing_numbers.number %}
            {% else %}
              {% set housing_value = 0 %}
            {% endif -%}
            <div class="govuk-form-group" data-form-validator="isNumber">
              {{ govukLabel({ "label": "Housing requirement total", "for": "housing-requirement-total-" + suffix }) }}
              <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> You must enter a number
              </span>
              {{ govukTextInput({
                "classes": "govuk-input govuk-input--width-10",
                "id": "housing-requirement-total-" + suffix,
                "name": "housing-requirement-total-" + suffix,
                "value": housing_value,
                "pattern":"[0-9]*"}) }}
            </div>
          {% endif %}
        </div>

        <!-- for Housing requirement range -->
        <fieldset class="govuk-fieldset fieldset-range housing-requirement-range-fieldset" data-form-validator="isCompleteRange">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                    Housing requirement range
                </h1>
            </legend>

            {%- if plan.housing_numbers.housing_number_type == "HOUSING_REQUIREMENT_RANGE" %}
              {% set housing_value_min = plan.housing_numbers.min %}
              {% set housing_value_max = plan.housing_numbers.max %}
            {% else %}
              {% set housing_value_min = 0 %}
              {% set housing_value_max = 0 %}
            {% endif -%}
            <div class="govuk-form-group" data-form-validator="isNumber">
                {{ govukLabel({ "label": "Min", "for": "housing-requirement-range-min-" + suffix }) }}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> You must enter a number
                </span>
                {{ govukTextInput({
                  "classes": "govuk-input govuk-input--width-10 housing-requirement-range-min",
                  "id": "housing-requirement-range-min-" + suffix,
                  "name": "housing-requirement-range-min-" + suffix,
                  "value": housing_value_min,
                  "pattern":"[0-9]*"}) }}
            </div>

            <div class="govuk-form-group" data-form-validator="isNumber">
                {{ govukLabel({ "label": "Max", "for": "housing-requirement-range-max-" + suffix }) }}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> You must enter a number
                </span>
                {{ govukTextInput({
                  "classes": "govuk-input govuk-input--width-10 housing-requirement-range-max",
                  "id": "housing-requirement-range-max-" + suffix,
                  "name": "housing-requirement-range-max-" + suffix,
                  "value": housing_value_max,
                  "pattern":"[0-9]*"}) }}
            </div>
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must complete both fields for a range
            </span>
        </fieldset>

        <!-- for Housing requirement yearly average -->
        {%- if plan.housing_numbers.housing_number_type == "HOUSING_REQUIREMENT_YEARLY_AVERAGE" %}
          {% set housing_value = plan.housing_numbers.number %}
        {% else %}
          {% set housing_value = 0 %}
        {% endif -%}
        <div class="govuk-form-group housing-requirement-yearly-average-input" data-form-validator="isNumber">
            {{ govukLabel({ "label": "Housing requirement yearly average", "for": "housing-requirement-yearly-average-" + suffix }) }}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must enter a number
            </span>
            {{ govukTextInput({
                  "classes": "govuk-input govuk-input--width-10",
                  "id": "housing-requirement-yearly-average-" + suffix,
                  "name": "housing-requirement-yearly-average-" + suffix,
                  "value": housing_value,
                  "pattern":"[0-9]*"}) }}
        </div>

        <!-- for Housing requirement yearly range -->
        <fieldset class="govuk-fieldset fieldset-range housing-requirement-yearly-range-fieldset" data-form-validator="isCompleteRange">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">
                    Housing requirement yearly range
                </h1>
            </legend>


            {%- if plan.housing_numbers.housing_number_type == "HOUSING_REQUIREMENT_YEARLY_RANGE" %}
              {% set housing_value_min = plan.housing_numbers.min %}
              {% set housing_value_max = plan.housing_numbers.max %}
            {% else %}
              {% set housing_value_min = 0 %}
              {% set housing_value_max = 0 %}
            {% endif -%}
            <div class="govuk-form-group" data-form-validator="isNumber">
                {{ govukLabel({ "label": "Min", "for": "housing-requirement-yearly-range-min-" + suffix }) }}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> You must enter a number
                </span>
                {{ govukTextInput({
                  "classes": "govuk-input govuk-input--width-10 housing-requirement-yearly-range-min",
                  "id": "housing-requirement-yearly-range-min-" + suffix,
                  "name": "housing-requirement-yearly-range-min-" + suffix,
                  "value": housing_value_min,
                  "pattern":"[0-9]*"}) }}
            </div>

            <div class="govuk-form-group" data-form-validator="isNumber">
                {{ govukLabel({ "label": "Max", "for": "housing-requirement-yearly-range-max-" + suffix }) }}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> You must enter a number
                </span>
                {{ govukTextInput({
                  "classes": "govuk-input govuk-input--width-10 housing-requirement-yearly-range-max",
                  "id": "housing-req-requirement-range-max-" + suffix,
                  "name": "housing-req-requirement-range-max-" + suffix,
                  "value": housing_value_max,
                  "pattern":"[0-9]*"}) }}
            </div>
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must complete both fields for a range
            </span>
        </fieldset>

        {% if plan.has_housing_numbers() %}
          {% set source_document = plan.housing_numbers.source_document %}
        {% else %}
          {% set source_document = "" %}
        {% endif %}
        <div class="govuk-form-group" data-form-validator="isUrl">
            <label class="govuk-label" for="url-{{ suffix }}">Source document url</label>
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must enter a valid URL
            </span>
            <input class="govuk-input" id="url-{{ suffix }}" name="url-{{ suffix }}" type="text"
                   value="{{ source_document }}">

        </div>

        <div class="govuk-form-group">
           <label class="govuk-label" for="screenshot-{{ suffix }}">Upload a screenshot from source document</label>
           <input class="govuk-file-upload" type="file" name="screenshot-{{ suffix }}" id="screenshot-{{ suffix }}" />
           <img src="{% if plan.housing_numbers.image_url %}{{ plan.housing_numbers.image_url }}{% endif %}" alt="" class="img-preview{% if not plan.housing_numbers.image_url %} not-active{% endif %}">
        </div>

        <div class="govuk-form-group">
            <input type="submit" class="govuk-button dlf-secondary-button" value="Save housing numbers">
            <button class="cancel-btn">Cancel</button>
        </div>
      <div class="loader"></div>
    </form>
{% endmacro %}