{% from "dl-macros/date-input.html" import renderDateInput %}

{% macro renderLocalPlanFactForm(params) %}
  {% if params.form_number %}
    {% set counter = params.form_number %}
  {% else %}
    {% set counter = 1 %}
  {% endif %}

  <form action="{{ params.action_url }}" class="govuk-form add-fact-form govuk-details__text plan-name">
    <input type="hidden" value="plan_document">
    <h4 class="govuk-heading-s govuk-visually-hidden">Add fact from document</h4>

    <div class="govuk-form-group">
       <label class="govuk-label" for="document-note-{{counter}}">
           Specify the type of fact
       </label>
        <select class="govuk-select fact-select-types" id="fact-type-{{counter}}" name="fact-type-{{counter}}">
          {% for fact_type in params.fact_types %}
             <option value="{{ fact_type.name }}" data-type-class="{{ fact_type.name|lower|replace('_', '-') }}">{{ fact_type.value }}</option>
          {% endfor %}
      </select>
    </div>

     <!-- TODO depending on type of fact chosen render input for fact
     e.g. if plan name just an text input note we know some of the names already,
     if plan start or end date chose render input for date in format YYYY-MM - or submits that at least which I think input type month does?
     if total housing number just integer of range then two inputs 'from' integer to 'integer'
     -->

    <!-- for Plan Name -->
    <div class="govuk-form-group plan-name-input">
      <label class="govuk-label" for="plan-name-{{ counter }}">
        Plan name
      </label>
      <input class="govuk-input govuk-input--width-20" id="plan-name-{{ counter }}" name="plan-name-{{ counter }}" type="text">
    </div>


    {#
        TODO i'm wondering if we change this to a single drop down - called Plan Period and have
        a from and to year - not date, just year - again same in extension
    #}

    <!-- for Plan start date -->
    {{ renderDateInput({
      "text":"Plan period start date",
      "classes":"plan-start-date-input",
      "prefix":"plan-start-date-" + counter|string
    }) }}

    <!-- for Plan end date -->
    {{ renderDateInput({
      "text":"Plan period end date",
      "classes":"plan-end-date-input",
      "prefix":"plan-end-date-" + counter|string
    }) }}



    <!-- for Housing requirement total -->
    <div class="govuk-form-group plan-housing-req-total">
      <label class="govuk-label" for="housing-req-total-{{ counter }}">
        Housing requirement total
      </label>
      <input class="govuk-input govuk-input--width-10" id="housing-req-total-{{ counter }}" name="housing-req-total-{{ counter }}" type="text">
    </div>

    <!-- for Housing requirement range -->
    <fieldset class="govuk-fieldset housing-req-range-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Housing requirement range
        </h1>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="housing-req-range-min-{{ counter }}">
          Min
        </label>
        <input class="govuk-input govuk-input--width-10 housing-req-range-min" id="housing-req-range-min-{{ counter }}" name="housing-req-range-min-{{ counter }}" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="housing-req-range-max-{{ counter }}">
          Max
        </label>
        <input class="govuk-input govuk-input--width-10 housing-req-range-max" id="housing-req-range-max-{{ counter }}" name="housing-req-range-max-{{ counter }}" type="text">
      </div>
    </fieldset>

    {#
        TODO - need two more inputs 1) housing yearly average - single numeric input 2) housing yearly range - needs a min and max
        these are similar to existing housing numbers above which apply to total or range for entire plan period.

        These need to be replicated in extension form as well.
    #}


    <div class="govuk-form-group">
      <label class="govuk-label" for="document-note-{{counter}}">
        Provide any additional information about the fact
      </label>
      <textarea class="govuk-textarea" id="document-note-{{counter}}" name="document-note-{{counter}}" rows="5"></textarea>
    </div>
    <div class="govuk-form-group">
      <button class="govuk-button fact-save-btn">Save</button>
      <button class="cancel-btn">Cancel</button>
    </div>
  </form>

 {% endmacro %}