
.pims-stages {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  color: govuk-colour("white");
  background: govuk-colour("blue");

  .govuk-details {
    margin-bottom: 0;
  }

  .govuk-details__summary,
  .govuk-table {
    color: govuk-colour("white");
  }

  .govuk-details__text {
    border: 0;
  }
}

.current-stage {
  @include govuk-font($size: 24);
  margin-bottom: $govuk-gutter-half;
  padding-bottom: $govuk-gutter-half;
  border-bottom: 2px solid govuk-colour("white");
}

.stage-tag {
  margin-right: $govuk-gutter-half;
  padding: 0 8px;
  border: 2px solid govuk-colour("white");
  font-weight: bold;
}

.lp-section-box {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  background: govuk-colour("grey-4");

  // .govuk-button:last-child {
  //   margin-bottom: 0;
  // }
}

$url-btn-width: 100px;

.url-list {
  padding-left: 0;
  list-style: none;
}

.url-item {
  position: relative;
  margin-bottom: 10px;
  line-height: 27px;

  .url-link {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-top: 3px;
    padding-right: (($url-btn-width * 2) + $govuk-gutter-half);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__controls {
    position: absolute;
    top: 0;
    right: 0;
    background: govuk-colour("grey-4");
  }

  &__btn {
    display: inline-block;
    width: $url-btn-width;
    padding-top: 3px;
    color: $govuk-text-colour !important;
    background: govuk-colour("grey-3");
    line-height: 27px;
    text-align: center;
    text-decoration: none;
  }
}

.govuk-form-group:last-of-type {
  margin-bottom: 0; // Remove margin from last item in nested groups
}

.list-filter {
  border-top: 1px solid govuk-colour(grey-2);
  border-bottom: 1px solid govuk-colour(grey-2);
  @include govuk-responsive-margin(3, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-padding(4, "top");
}

.button-filter-table {
  background: govuk-colour("blue");
}

.la-search-form {
  padding-bottom: $govuk-gutter-half;

  .button-autocomplete-action {
    margin-top: $govuk-gutter-half;
  }
}

.js-enabled {
  .button-autocomplete-action {
    display: none;
  }

  .autocomplete-used {
    .button-autocomplete-action {
      display: inline-block;
    }
  }

  .lp-section-box__notes {
    .note-edit-form {
      display: none;
    }

    &.editing .note-edit-form {
      display: block;
    }
  }

  .lp-section-box__number {
    .number-edit-form {
      display: none;
    }

    &.editing .number-edit-form {
      display: block;
    }
  }

  .lp-section-box__urls {
    .url-edit-form {
      display: none;
    }

    &.editing .url-edit-form {
      display: block;
    }
  }

  .url-edit-form {
    .label-add,
    .label-edit {
      display: none;
    }

    &.editing {
      .label-edit {
        display: block;
      }
    }

    &.adding {
      .label-add {
        display: block;
      }
    }
  }
}

.secondary-text {
  color: govuk-colour("grey-2");
}
