// Styles for the various forms on the local plans pages
// =====================================================

.govuk-form--contained {
  margin-top: $govuk-gutter-half;

  .govuk-heading-s {
    margin-bottom: $govuk-gutter-half;
  }

  .govuk-fieldset {
    @include govuk-responsive-margin(6, "bottom");
  }

  .housing-req-fieldset {
    margin-bottom: 15px;
  }

  .govuk-form-group:not(:last-of-type) {
    margin-bottom: $govuk-gutter-half;
  }

  .govuk-button {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

.govuk-form--single-checkbox {
  margin-bottom: $govuk-gutter;
}

.govuk-error-message {
  display: none;
}

.govuk-form-group--error > .govuk-error-message {
  display: block;
}

.govuk-fieldset.govuk-form-group--error {
  padding-left: $govuk-gutter-half;
  border-left: 5px solid govuk-colour("red");

  .govuk-error-message {
    @include govuk-responsive-margin(4, "top");
  }
}

.add-url-form {
  box-sizing: border-box;
  display: block;
  margin-bottom: $govuk-gutter;
  padding: 20px;
  border: 1px solid govuk-colour("grey-2");
  background: govuk-colour("grey-4");
  text-decoration: none;

  @include govuk-media-query($from: tablet) {
    padding: $govuk-gutter;
  }

  & .govuk-form-group:last-child .govuk-button {
    margin-bottom: 0;
  }
}

.fieldset-range {
  @include govuk-responsive-margin(6, "bottom");
}

$indicator-box-spacing: 10px;

.fact-already-exists__msg {
  display: none;
}

.fact-already-set {
  margin-top: -($indicator-box-spacing);
  margin-left: -($indicator-box-spacing);
  padding: $indicator-box-spacing;
  background: govuk-colour("grey-3");

  .fact-already-exists__msg {
    display: block;
    margin: 10px 0 0;
  }
}

.publication-date-input,
.regulation-18-date-input,
.proposed-publication-date-input,
.proposed-submission-date-input,
.proposed-main-modifications-date-input,
.proposed-adoption-date-input,
.plan-name-input,
.plan-period-fieldset,
.plan-start-date-input,
.plan-end-date-input,
.plan-housing-requirement-total,
.housing-requirement-range-fieldset,
.housing-requirement-yearly-average-input,
.housing-requirement-yearly-average-fieldset,
.housing-requirement-yearly-range-fieldset {
  display: none;
}

.housing-requirement-range-fieldset {
  margin-bottom: $govuk-gutter;
}

.plan-name {
  .plan-name-input {
    display: block;
  }
}

.plan-period {
  .plan-period-fieldset {
    display: block;
  }
}

.plan-start-year {
  .plan-start-date-input {
    display: block;
  }
}

.plan-end-year {
  .plan-end-date-input {
    display: block;
  }
}

.housing-requirement-total {
  .plan-housing-requirement-total {
    display: block;
  }
}

.housing-requirement-range {
  .housing-requirement-range-fieldset {
    display: block;
  }
}

.housing-requirement-yearly-average {
  .housing-requirement-yearly-average-input,
  .housing-requirement-yearly-average-fieldset {
    display: block;
  }
}

.housing-requirement-yearly-range {
  .housing-requirement-yearly-range-fieldset {
    display: block;
  }
}

.publication-date {
  .publication-date-input {
    display: block;
  }
}

.proposed-reg-18-date {
  .regulation-18-date-input {
    display: block;
  }
}

.proposed-publication-date {
  .proposed-publication-date-input {
    display: block;
  }
}

.proposed-submission-date {
  .proposed-submission-date-input {
    display: block;
  }
}

.proposed-main-modifications-date {
  .proposed-main-modifications-date-input {
    display: block;
  }
}

.proposed-adoption-date {
  .proposed-adoption-date-input {
    display: block;
  }
}

.housing-req-fieldset {
  .govuk-fieldset__legend {
    span {
      display: inline-block;
      margin-top: 15px;
      font-weight: bold;
    }
  }
}

//.other {}
