@import "components/table-view";


.pims-stages {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  color: govuk-colour("white");
  background: govuk-colour("grey-1");

  .govuk-details {
    margin-bottom: 0;
  }

  .govuk-details__summary,
  .govuk-table {
    color: govuk-colour("white");
  }

  .govuk-details__text {
    border: 0;
  }

  .adopted-plan & {
    background: govuk-colour("blue");
  }
}

.current-stage {
  @include govuk-font($size: 24);
  margin-bottom: $govuk-gutter-half;
  padding-bottom: $govuk-gutter-half;
  border-bottom: 2px solid govuk-colour("white");
}

.stage-tag {
  margin-right: $govuk-gutter-half;
  padding: 0 8px;
  border: 2px solid govuk-colour("white");
  font-weight: bold;
  text-transform: uppercase;
}

.lp-section-box {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter-half;
  background: govuk-colour("grey-4");

  &.editing {
    .lp-section-box__edit-btn {
      display: none;
    }
  }
  // .govuk-button:last-child {
  //   margin-bottom: 0;
  // }
}

.govuk-form-group:last-of-type {
  margin-bottom: 0; // Remove margin from last item in nested groups
}

.list-filter {
  border-top: 1px solid govuk-colour(grey-2);
  border-bottom: 1px solid govuk-colour(grey-2);
  @include govuk-responsive-margin(3, "top");
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-padding(4, "top");
}

.button-filter-table {
  background: govuk-colour("blue");
}

.la-search-form {
  padding-bottom: $govuk-gutter-half;

  .button-autocomplete-action {
    margin-top: $govuk-gutter-half;
  }
}

.js-enabled {
  .button-autocomplete-action {
    display: none;
  }

  .autocomplete-used {
    .button-autocomplete-action {
      display: inline-block;
    }
  }

  .lp-section-box__notes {
    .note-edit-form {
      display: none;
    }

    &.editing .note-edit-form {
      display: block;
    }
  }

  .lp-section-box__number {
    .number-edit-form {
      display: none;
    }

    &.editing .number-edit-form {
      display: block;
    }
  }

  .lp-section-box__urls {
    .url-edit-form {
      display: none;
    }

    &.editing .url-edit-form {
      display: block;
    }
  }

  .url-edit-form {
    .label-add,
    .label-edit {
      display: none;
    }

    &.editing {
      .label-edit {
        display: block;
      }
    }

    &.adding {
      .label-add {
        display: block;
      }
    }
  }
}

.secondary-text {
  color: govuk-colour("grey-2");
}

// tweaks to govuk-tabs
.adopted-plan {
  .govuk-tabs__tab {
    color: govuk-colour("blue");
  }

  .govuk-tabs__tab--selected {
    font-weight: bolder;
  }
}

.cancel-btn {
  display: none;

  @include govuk-font($size: 16, $line-height: 16px);
  @include govuk-focusable;

  width: 100%;
  padding: 14px 10px 11px;
  border: 0;
  color: govuk-colour("blue");
  background: transparent;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;

  @include govuk-media-query($from: tablet) {
    width: auto;
  }

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-link-colour;
    text-decoration: underline;
  }

  .js-enabled & {
    display: inline-block;
  }
}


.request-for-update {
  color: govuk-colour("grey-1");
}
