.map-container {
  position: relative;
}

$map-control-trim: rgba(0, 0, 0, .2);

.layer-toggles {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid $map-control-trim;
}

.layer-toggle {
  background: govuk-colour("white");

  &:not(:last-child) {
    border-bottom: 1px solid govuk-colour("grey-2");
  }

  button {
    @include govuk-font($size: 16);
    width: 100%;
    padding: 8px 10px 6px;
    border: 0;
    background: govuk-colour("white");
    text-align: left;

    &:hover {
      color: govuk-colour("blue");
      background: govuk-colour("grey-4");
      cursor: pointer;
    }
  }
}
