.top-content {
  margin-bottom: $govuk-gutter;

  &:after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    margin: 0 auto;
    background: govuk-colour("grey-2");
  }
}

.graph-placeholder {
  display: flex;
  height: 400px;
  margin-bottom: 45px;
  border-bottom: 2px solid govuk-colour("grey-2");
  border-left: 2px solid govuk-colour("grey-2");
  background: govuk-colour("grey-4");
  align-items: center;
  justify-content: center;

  span {
    color: govuk-colour("grey-2");
  }
}

.hdt-figure-section {
  margin-bottom: $govuk-gutter;
}

// tweaking the padding on the bars
// when using helvetica over NTA then need to alter padding
.contribution-bar {
  padding-top: 8px;

  &:hover {
    padding-top: 6px;
    //padding-top: 4px;
  }
}

.bar--grey {
  background: govuk-colour("grey-1");
}

.bar--blue {
  background: govuk-colour("blue");
}

.bar--light-blue {
  background: govuk-colour("light-blue");
}

.bar--blank {
  background: transparent;

  .data-item {
    color: govuk-colour("grey-2");
  }
}

.js-enabled .govuk-tabs__panel--no-bottom-padding {
  padding-bottom: 0;
}

.dl-heading-link {
  color: govuk-colour("black");

  &:link {
    color: govuk-colour("black");
  }
}

.per-year-figure {
  display: flex;
  width: 50%;

  span:last-child {
    margin-left: auto;
  }
}

.data-source {
  display: block;
  @include govuk-font($size: 14);
  color: govuk-colour("grey-1");
}


// **************************************
// Fact list
// **************************************

.fact-list {
  @include govuk-font($size: 19);
  margin: 0;
  padding: 0;
  list-style: none;
}

.fact-list__item {
  padding-top: $govuk-gutter;

  &:after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    margin: auto;
    background: govuk-colour("grey-2");
  }
}

.fact-list__item__fact {
  @include govuk-font($size: 24, $weight: bold);
  margin-bottom: 15px;
}

.fact-list__item-type__label,
.fact-list__item-source__label {
  @include govuk-font($size: 19);
  display: block;
  margin: 0;
  color: govuk-colour("grey-1");
}

.fact-list__item-type__label {
  margin-bottom: 30px; // weird spacing to make the border work, change it 
}

.fact-list__item__img {
  max-width: 100px;
}

.fact-list__item {
  .govuk-details__summary {
    &:before {
      @include govuk-shape-arrow($direction: right, $base: 11px);
    }

  }

  .govuk-details[open] > .govuk-details__summary:before {
    @include govuk-shape-arrow($direction: down, $base: 11px);
  }

  .govuk-details__summary-text,
  .govuk-details__text {
    @include govuk-font($size: 16);
  }
}

