@import "all";

body {
  position: relative;
  min-width: 400px;
  margin: 15px 0 0;
  padding: 30px 15px;
  border-top: 5px solid govuk-colour("blue");
}

body::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 15px;
  background: govuk-colour("black");
}

header p:first-child {
  margin-bottom: 0;
}

.select-toggle {
  margin-bottom: 10px;
}

.plan-list {
  margin-bottom: 30px;

  .stage-tag {
    display: inline-block;
    margin-bottom: 2px;
  }
}

.stage-tag {
  padding-top: 1px;
  padding-bottom: 3px;
  border-color: govuk-colour("grey-2");
  color: govuk-colour("grey-2");
  font-size: 16px;

  &:hover,
  &:active {
    border-color: govuk-colour("grey-1");
    color: govuk-colour("grey-1");
    cursor: pointer;
  }

  &.selected {
    border-color: govuk-colour("grey-1");
    color: govuk-colour("white");
    background: govuk-colour("grey-1");
  }
}

.stage-tag--adopted {
  &:hover,
  &:active {
    border-color: govuk-colour("blue");
    color: govuk-colour("blue");
    cursor: pointer;
  }

  &.selected {
    border-color: govuk-colour("blue");
    color: govuk-colour("white");
    background: govuk-colour("blue");
  }
}

.govuk-checkboxes__list {
  @include govuk-responsive-margin(6, "bottom");
}

.ext-message {
  @include govuk-font($size: 16);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 7px 5px 5px;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  color: govuk-colour("white");
  background: govuk-colour("turquoise");
  line-height: 1.5em;

  &.success {
    opacity: 1;
  }
}

.add-facts-section,
.save-urls-section {
  display: none;
}

.facts-view {
  .add-facts-section {
    display: block;
  }
}

.url-view {
  .save-urls-section {
    display: block;
  }
}

